<%- include('partials/header'); -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Content</label>
        <textarea class="form-control" name="postContent" rows="5" col="50"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">publish</button>
</form>






<%- include('partials/footer'); -%>